.container-fluid {
    height: calc(100% - 100px);
}

.iframe-page .container-fluid {
    height: 100%;
}


main {
    height: 100%;
}

.content {
    height: 100%;
}



.flex_container {
    display: flex;
    flex-flow: wrap;
    height: 100%
}

#info_container {
    flex: 0 0 auto;
}

#map_container {
    flex: 1 1 auto;
    height: 100%;
}

#info_container > div {
    height: 512px;
    padding-left: 3px;
}

#map {
    height: 100%;
}


.leaflet-buttons-info-button {
    overflow: hidden;
    background-image:url(https://api.mapbox.com/mapbox.js/v2.2.3/images/icons-000000@2x.png);
    background-position: 0 -165px;
    width: 52px;
    height: 52px;
    cursor: pointer;
}